.rounded-circle {
    height: 200px;
}

body {
    background: url("background.jpg") repeat center;
    background-size: contain;
}

i {
    margin-right: 10px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.616);
}
